/* ---------------- Font settings ---------------- */

html {
    background: #ebebeb url([[pix:theme|lgrey064]]);
}

body { 
    font-family: Helvetica, "Arial", Tahoma, sans-serif;
    color: #000000;
    padding: 0;
    background: transparent;
}

#wrapper {
    padding: 0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { 
    font-family: Helvetica, "Arial", Tahoma, sans-serif;
    color: #000000;
    padding: 2px;
}

a { 
    color: #004000;
}

a:hover { 
    text-decoration: none;
    color: #FF0000;
}

/* ---------------- Header banner ---------------- */

#topbar1 {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    background: #004000 url([[pix:theme|hgradient_blk_btm]]) repeat-x bottom left;
    text-align: right;
    font-size: 0.8em;
    clear: both;
    padding-top: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Logo at top of page */
/* Change logo_placeholder to the name of your logo file in the pix directory */
/* Change the height value to the height of your logo image */

#page-header {
    height: 150px;
    background: url([[pix:theme|dl_logo_150]]) no-repeat top left;
}

.headermain {
    display: none;
}

/* Login info at the top */

#topbar1 .logininfo {
    color: #FFFFFF;
}

#topbar1 .logininfo a {
    color: #FFFFFF;
}

#topbar1 .logininfo a:hover {
    color: #FF0000;
}

/* ---------------- Navigation breadcrumb bar---------------- */

.navbar {
    clear: both;
    overflow: hidden;
    background: #004000 url([[pix:theme|hgradient_blk_btm]]) repeat-x bottom left;
    border: 1px #B3B3B3 solid;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Unlinked text in navbar */

.breadcrumb ul {
    color: #FFFFFF;
}

/* Links in navbar */

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover {
    color: #FF0000;
    text-decoration: none;
}

/* ---------------- Front page course list ---------------- */

#page-site-index .headingblock {
    background: #004000 url([[pix:theme|hgradient_blk_btm]]) repeat-x bottom left;
    border: 1px #B3B3B3 solid;
    margin-bottom: 9px;
    margin-top: 9px;
    padding-left: 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #FFFFFF;
}

#page-site-index div.course_category_tree {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 6px;
}

/* Course search box */

#coursesearch, #coursesearch2 {
    text-align: center;
    color: #000000;
}

/* Adds some space between category and number of courses within category */

.categorylist .category .numberofcourse {
    font-size: 0.85em;
    font-style: normal;
    margin-left: 10px;
    color: #B3B3B3;
}

#page-content #region-main-box .region-content {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

/* ---------------- Course categories index ---------------- */

/* Category list */

.categorybox {
    border: medium none;
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

/* Course list */

.coursebox {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    width: auto;
}

/* ---------------- Profile ---------------- */

.descriptionbox {
    border: 1px solid #B3B3B3;
    background: #FFFFFF;
    margin-left: 110px;
    padding: 10px;
}

/* ---------------- Side Blocks ---------------- */

/* Block heading font */

.block .header h2 {
    margin: 0px;
    font-size: 0.9em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 2px;
    background: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
}

#page-content #region-post .region-content {
    margin-right: 5px;
    margin-left: 0px;
}

/* Hide and dock action buttons in block */

.block .header .block_action {
    float: right;
    margin-right: 2px;
    vertical-align: top;
}

/* Margin around the dock button, setting this larger does funny things to the hide button */

.block .header .block_action input {
    padding: 0;
    margin-right: 8px;
    margin-top: 6px;
}

/* List items in block */

.block .content {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.9em;
    color: #FFFFFF;
}

.block_tree .tree_item {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.block_settings .block_tree li ul {
    margin: 0;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    color: #FFFFFF;
}

/* Command editing buttons */

.block .commands {
    padding-left: 6px;
    padding-top: 2px;
}

/* General block settings */

.block {
    border: 1px #B3B3B3 solid;
    margin-bottom: 1em;
    background: #004000 url([[pix:theme|hgradient_blk_top]]) repeat-x top left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #FFFFFF;
}

.block .content p {
    color: #FFFFFF;
}

/* Links in the blocks */

.block a {
    color: #ffffff;
    text-decoration: none;
}

.block a:hover {
    color: #FF0000;
    text-decoration: none;
}

/* Links in the My home list which is apparently blocks */

.coursebox a {
    color: #004400;
}

.coursebox {
    color: #000000;
}

/* Moving blocks */

.blockmovetarget {
    border-style: dashed;
    border-width: 2px;
    border-color: #FF0000;
    display: block;
    height: 1em;
    margin-bottom: 1em;
}

/* Moving this block (Cancel) text */

.blockannotation {
    color: #000000;
}

.blockannotation a {
    color: #004000;
}

.blockannotation a:hover {
    color: #FF0000;
}

/* Remove items from navigation block */
/* Remove "My home" */
/* .block_navigation .type_setting.depth_2 { display: none; } */

/* Remove "Site Pages" */
.block_navigation .type_course.depth_2  { display: none; }

/* Remove "My Profile" */
/* .block_navigation .type_user.depth_2 { display: none; } */

/* Remove "Courses" */
/* .block_navigation .type_system.depth_2 { display: none; } */

/* Comments block */

.block_comments .comment-list {
    background: #FFFFFF;
    border-radius: 10px;
}

.block_comments .comment-list a {
    color: #004000;
}

.block_comments .comment-list a:hover {
    color: #FF0000;
}

/* ---------------- Top & Bottom Blocks ---------------- */

#topblockwrap {
    clear: both;
}

.top-blocks {
    float: left;
    width: 25%;
}

#blocktopleft {
    margin-left: 5px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blocktopmidlt {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blocktopmidrt {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blocktopright {
    margin-left: 2px;
    margin-right: 5px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#btmblockwrap {
    clear: both;
}

.btm-blocks {
    width: 25%;
    float: left;
}

#blockbtmleft {
    margin-left: 5px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blockbtmmidlt {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blockbtmmidrt {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

#blockbtmright {
    margin-left: 2px;
    margin-right: 5px;
    min-width: 230px;
    min-height: 1px;
    max-height: 150px;
    overflow: auto;
}

/* ---------------- Course ---------------- */

/* "Topic outline" heading block */

#page-content #region-main-box .region-content {
    padding: 0;
}

.headingblock { 
    background: #004000 url([[pix:theme|hgradient_blk_btm]]) repeat-x bottom left;
    font-weight: normal;
    border: 1px #B3B3B3 solid;
    padding: 2px 6px;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.path-course-view .headingblock {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* The "Your progress" text */

.path-course-view .completionprogress {
    float: right;
    color: #FFFFFF;
    margin-top: 2px;
}

/* Topic box content area */

.course-content .content {
    padding: 10px;
    background: #FFFFFF;
}

.course-content ul.topics li.section .left {
    color: #FFFFFF;
}

/* General topic */

.course-content .main {
    background-color: #004000;
    background-image: linear-gradient(bottom, #000000 22%, #004000 64%, #000000 82%);
    background-image: -o-linear-gradient(bottom, #000000 22%, #004000 64%, #000000 82%);
    background-image: -moz-linear-gradient(bottom, #000000 22%, #004000 64%, #000000 82%);
    background-image: -webkit-linear-gradient(bottom, #000000 22%, #004000 64%, #000000 82%);
    background-image: -ms-linear-gradient(bottom, #000000 22%, #004000 64%, #000000 82%);
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Highlighted topic */

.course-content .current {
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #008000;
    background-image: linear-gradient(bottom, #008000 22%, #FFFFFF 64%, #008000 82%);
    background-image: -o-linear-gradient(bottom, #008000 22%, #FFFFFF 64%, #008000 82%);
    background-image: -moz-linear-gradient(bottom, #008000 22%, #FFFFFF 64%, #008000 82%);
    background-image: -webkit-linear-gradient(bottom, #008000 22%, #FFFFFF 64%, #008000 82%);
    background-image: -ms-linear-gradient(bottom, #008000 22%, #FFFFFF 64%, #008000 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(224,62,213)),
	color-stop(0.64, rgb(255,255,255)),
	color-stop(0.82, rgb(255,201,249))
);
}

/* Hidden topic */

.course-content .hidden {
    background: #FFFFFF;
    border: 2px #B3B3B3 dashed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Completion tick boxes */

.path-course-view li.activity span.autocompletion, .path-course-view li.activity form.togglecompletion {
    display: inline;
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

/* On a dark or patterned body background, it is important
  to set this to something light. This controls the color
  behind form inputs such as labels */

.mform fieldset div {
    margin: 0 10px 10px;
    background: #FFFFFF;
}

/* ---------------- Activities ---------------- */

/* Introduction box in activities */
#intro,
.path-mod-assignment #intro,
.path-mod-forum #intro {
    border: 1px #B3B3B3 solid;
    margin: 2% 10%;
    margin-top: 10px;
    padding: 5px;
    background: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Backgrounds behind some text within activities */

.generalbox {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Group selector */

.groupselector {
    margin-bottom: 3px;
    margin-top: 3px;
    background: #FFFFFF;
    border: none;
}

/* ---------------- Forum ---------------- */

/* Highlighting unread posts at the course and discussion table level */

.path-course-view .unread a {
    background: #FFCC66;
    color: #000000;
}

.path-mod-forum .forumheaderlist .unread a {
    background: #FFCC66;
    color: #000000;
}

/* Discussion view table */

.path-mod-forum .forumheaderlist th {
    border: 1px #B3B3B3 solid;
    text-align: left;
    background: #E3E3E3;
}

.path-mod-forum .forumheaderlist td {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

/* Discussion threads */

/* Border around the whole reply */

.forumpost {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

/* General reply boxes */

.forumpost .row {
    background: #b1cfad;
}

.forumpost .content {
    background: #FFFFFF;
}

.forumpost .commands {
    background: #b1cfad;
    padding-right: 5px;
}

/* Highlighting unread posts */

.forumpost.unread {
    border: 1px #000000 solid;
}

.forumpost.unread .row {
    background: #FFCC66;
}

.forumpost.unread .content {
    background: #FFFFFF;
}

.forumpost.unread .commands {
    background: #FFCC66;
    padding-right: 5px;
}

/* ---------------- Assignment ---------------- */

#online, #onlineenter {
    border: 1px #B3B3B3 solid;
    margin-top: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* ---------------- Choice ---------------- */

/* Background behind choices */

.path-mod-choice .horizontal, .path-mod-choice .vertical {
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    background: #FFFFFF;
    padding: 6px;
}

.path-mod-choice .results td {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

.path-mod-choice .lastrow td {
    border: 1px #B3B3B3 solid;
}

.path-mod-choice .results .header, .path-mod-choice td {
    border: 1px #B3B3B3 solid;
    background: #E3E3E3;
}

/* ---------------- Database ---------------- */

.path-mod-data h2.main, h3.main, h4.main {
    margin-bottom: 2px;
    padding: 0.5em 0 0.5em;
    text-align: center;
    background: #FFFFFF;
    border: none;
}

.datapreferences {
    background: #FFFFFF;
    border: none;
}

/* ---------------- Feedback ---------------- */

/* Answers required text */

.feedback_required_mark {
    color: #FF0000;
}

/* Info on anonymous mode */

.box .feedback_anonymousinfo {
    color: #000000;
}

/* Heading */

.path-mod-feedback h2.main, h3.main, h4.main {
    text-align: center;
    background: #FFFFFF;
    border: none;
    padding: 0.5em 0 0.5em;
    margin-bottom: 2px;
}

.path-mod-feedback .generalbox {
    border: none;
}

/* ---------------- Glossary ---------------- */

/* Glossary entries */

.path-mod-glossary .entrybox {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
    width: 99%;
}

/* "Browse by..." menu */

.tabtree .tabrow0 li a {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

.tabtree .tabrow0 ul, .tabtree .tabrow0 div {
    border-top: 2px #B3B3B3 solid;
    font-weight: normal;
    margin: 0;
}

/* ---------------- Lesson ---------------- */

.path-mod-lesson h2.main, h3.main, h4.main {
    margin-bottom: 2px;
    padding: 0.5em 0 0.5em;
    text-align: center;
    background: #FFFFFF;
    border: none;
}

.path-mod-lesson div.box.contents {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
}

/* ---------------- Quiz ---------------- */

/* Quiz heading */

.path-mod-quiz h2.main, h3.main, h4.main {
    margin-bottom: 2px;
    padding: 0.5em 0 0.5em;
    text-align: center;
    background: #FFFFFF;
    border: none;
}

/* Question contents */

.que .formulation {
    background: #FFFFFF;
    border: none;
}

/* Question information box */

.que .info {
    background: #E3E3E3;
    float: left;
    margin-bottom: 1.8em;
    padding: 0.5em;
    width: 6em;
}

/* Review of quiz table before final submit, and review of attempts before starting quiz */

#attempts .header, .generaltable .header {
    background: #E3E3E3;
    border-bottom-width: 2px;
    border: 1px solid #B3B3B3;
}

#attempts th, #attempts td, .generaltable th, .generaltable td {
    border: 1px solid #B3B3B3;
    border-collapse: collapse;
    background: #FFFFFF;
}

/* Table at the top of the summmary page */

table.quizreviewsummary th.cell {
    background: #E3E3E3;
    border: 1px solid #B3B3B3;
    font-weight: bold;
    padding: 1px 0.5em 1px 1em;
    text-align: right;
    width: 10em;
}

table.quizreviewsummary td.cell {
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    padding: 1px 1em 1px 0.5em;
    text-align: left;
}

.path-mod-quiz .mform fieldset {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

/* Editing quiz page */

#page-mod-quiz-edit .questionbankwindow div.header a {
    color: #000000;
    text-decoration: underline;
}

#page-mod-quiz-edit .questionbankwindow div.header {
    background: none;
    background-image: none;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 0.2em;
}

/* Feedback box */

.que .outcome {
    background: none repeat scroll 0 0 #FFF3BF;
}

/* ---------------- Survey ---------------- */

/* Question headings */

h3.questiontext {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
    width: 90%;
}

/* Question contents */

.path-mod-survey table {
    background: #FFFFFF;
}

/* ---------------- Wiki ---------------- */

/* Create page form */

.path-mod-wiki .mform fieldset {
    border: 1px #B3B3B3 solid;
    background: #FFFFFF;
}

/* Editing the wiki */

.wiki_headingtitle {
    text-align: center;
    background: #FFFFFF;
    border: none;
}

.path-mod-wiki h2.main, h3.main, h4.main {
    margin: 0;
    padding: 0.5em 0 0.5em;
    text-align: center;
    background: #FFFFFF;
    border: none;
}

/* Comments page */

.midpad {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
    text-align: center;
    background: #FFFFFF;
}

/* History and map pages table */

.path-mod-wiki thead {
    background: #E3E3E3;
    border: 1px #B3B3B3 solid;
}

.path-mod-wiki tbody {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
}

/* ---------------- Workshop ---------------- */

.path-mod-workshop .collapsibleregioncaption {
    font-size: 120%;
    font-weight: bold;
    background: #FFFFFF;
}

/* Workshop table */

.path-mod-workshop .userplan th {
    border-top: 1px #B3B3B3 solid;
    border-bottom: 1px #B3B3B3 solid;
    background: #E3E3E3;
    color: #4C4C4C;
    padding: 3px;
    vertical-align: bottom;
    white-space: normal;
}

.path-mod-workshop .userplan td {
    background: #FFFFFF;
    border-right: 1px solid #E3E3E3;
    vertical-align: top;
    width: 20%;
}

/* Active cell */

.path-mod-workshop .userplan th.active {
    background: #FFCC66;
    border-left: 1px solid #E3E3E3;
    color: black;
    font-size: 140%;
    vertical-align: top;
}

.path-mod-workshop .userplan td.active {
    background: #FFCC66;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

/* ---------------- Folder ---------------- */

.path-mod-folder h2.main, h3.main, h4.main {
    margin: 0;
    padding: 0.5em 0 0.5em;
    text-align: center;
    background: #FFFFFF;
    border: none;
}

.path-mod-folder #pageintro {
    background: #FFFFFF;
    border: 1px #B3B3B3 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 10px auto;
    width: 75%;
}

/* ---------------- Page Footer ---------------- */

#page-footer {
    font-size: 0.9em;
    text-align: center;
    clear: both;
    float: left;
    width: 100%;
    background: transparent;
    border-top: none;
}

/* Login info at the bottom */

#page-footer .logininfo {
    color: #000000;
}

#page-footer .logininfo a {
    color: #004000;
}

#page-footer .logininfo a:hover {
    color: #FF0000;
}

/* ---------------- Dock ---------------- */

body.has_dock { 
    margin-left: 30px;
}

#dock { 
    left: 0%;
    margin-left: 0px;
    border-width: 0;
    background: #004000 url([[pix:theme|vgradient_blk_lt]]) repeat-y top left;
}

/* The undock all button at the bottom of dock items */

#dock .controls { 
    bottom: auto;
    background-color: transparent;
}

#dock .dockeditem_container { 
    position: relative;
}

/* Margin at the very top of the docked items */

#dock .dockeditem.firstdockitem { 
    margin-top: 5px;
}

#dock .dockeditem { 
    background-color: transparent;
    padding: 0px;
    padding-right: 0px;
}

#dock .dockedtitle { 
    border-width: 0;
    font-weight: normal;
}

#dock .dockedtitle h2 { 
    margin: 0;
    padding: 10px 3px;
    font-weight: normal;
    color: #FFFFFF;
}

/* Color when hovering over a dock item */

#dock .dockedtitle.activeitem { 
    background-color: #008000;
    width: 30px;
}

/* This creates a 2px border at the bottom and must be included to overwrite the parent theme */

#dockeditempanel { 
    background: none;
    margin-left: 0px;
    color: #FFFFFF;
}

#dockeditempanel a {
    color: #FFFFFF;
    text-decoration: none;
}

#dockeditempanel a:hover {
    color: #FF0000;
    text-decoration: none;
}

/* Content in docked menu */

#dockeditempanel .dockeditempanel_content { 
    background: #004000 url([[pix:theme|hgradient_blk_top]]) repeat-x top left;
    margin: 0px;
    position: relative;
    top: -3px;
    min-height: 100px;
    border-color: #B3B3B3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}

/* Heading in docked menu */

#dockeditempanel .dockeditempanel_hd { 
    background: transparent;
    border-width: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    padding-right: 6px;
}

#dockeditempanel .dockeditempanel_hd h2 { 
    font-size: 1em;
    color: #FFFFFF;
}

/* ---------------- Custommenu ---------------- */

/*cutom menu */
/*YUI Reset */
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-menuvisible {background-position: -10000px -10000px;}
.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-label,
.yui3-skin-sam #page .yui3-menubuttonnav .yui3-menu-label em {background-position: right center;}
.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle {background-position: 3px center;}
.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle {background-position: 0% 50%;}

#custommenu {
    clear: both;
    background: #004000 url([[pix:theme|hgradient_blk_btm]]) repeat-x bottom left;
    border: 1px #B3B3B3 solid;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menuitem-content  {
    color: #FFFFFF;
    font-weight: normal;
    line-height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.custom_menu_submenu .yui3-menu-label,
.custom_menu_submenu .yui3-menuitem-content {
    color: #000 !important;
    text-shadow: none !important;
    line-height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-menuvisible,
.yui3-skin-sam #page .yui3-menuitem-active .yui3-menuitem-content {
    color: #000;
    background-color: #008000;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-content  {
    border: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
    border-color:#B3B3B3;
    border-style:solid;
    border-width:0px;
}

#page .custom_menu_submenu {
    border: 1px solid #B3B3B3 !important;
    background: #FFFFFF;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* ---------------- Theme splash page from lang file ---------------- */

.theme_screenshot {
    float: left;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
}

.theme_screenshot img {
    max-width: 300px;
    border: 2px solid black;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.theme_description {
    
}